body {
  background-color: #444444;
  color: #dddddd;
  font-family: Arial, Helvetica, san-seriff;
  margin:10% 20%;  
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom:1px solid #dddddd;
  background-color: rgba(0,0, 0.1);
}

.Shutterfly{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom:1px solid #dddddd;
  background-color: rgba(0,0, 0.1);
  font-family: Arial, Helvetica, san-seriff;
}

.li {
  font-family: Arial, Helvetica, San-seriff;
  font-style: Normal;
  margin:10% 20%;   
}

.material{
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-family: Arial, Helvetica, san-seriff;
  margin: 10% 20%;
  font-style: Normal;
     
}
.school {
  font-family:Arial,Helvetica, san-seriff;
  font-style: Normal;
}
.Education{
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0,0, 0.1);
  border-top:1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-family: Arial, Helvetical, san-seriff;
}
